	*{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
	box-sizing:border-box;
}

.container{
margin:0 auto;
width:1100px;	
	
	
}

#header-area{
	
width:100%;
position:fixed;
background:white;

z-index:1111;
}


.main-menu{
	
display:flex;


}

.menu-items {
	
	width:890px;
	
}



.menu-items ul{
	
	float:right;
	list-style:none;
	display:flex;
	padding:32px 0px;
	
}


.menu-items ul li{
	
	padding:0px 5px;

	
}


.menu-items ul li a {
	font-weight:600;
	text-decoration:none;
	font-size:12px;
		color:rgba(9,39,83,.7);
}










.logo{
	display:inline-block;
	
	
}


.english{
	background: red;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}


#main-banner{
	
	background:url("banner-bg.7358efba.jpg");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
	
}



.icon-main{
	width:400px;
background:white;
height:390px;
border-radius:5px;	
	position:relative;
	z-index:1;
	overflow:hidden;
}

.icon-main:hover{
	
background:#DAEDFF;	
	cursor:pointer;
	
}

.icon-main:before{
	
content: "";	
display:block;
position:absolute;
z-index:1;
width:301px;
height:18px;
background:#0A2F8D;
position:center;
left:51px;	
top:381px;
border-radius:5px;	
	
}











.icon-img{
display:inline-block;	
	float:left;
}

.icon-img img{
	margin-left:20px;
	
	
}

.icon{
	margin-top:30px;
	
	
}


.icon h2{
display:inline-block;	
	margin-left:20px;
	margin-top:12px;
}

.nibondon-status{
margin-left:25px;	
	height:390px;
	
}



.nibondon{
text-align:center;	
	margin-top:60px;
	margin-left:25px;
	
}


.col-1{
	display:flex;
	padding:97px 180px;
}


.status{
	background:white;
	margin-bottom:24px;
	padding:0px 30px;
	border-radius:5px;
}




.icon-2{
display:inline-block;	

	
}
.icon-2 p{
	
margin-top:25px;
margin-left:px;
float:right;	
	
}

.icon-2 img{
	
	margin-right:45px;
	
}
.n-img{
margin-top:45px;	
	
}





.main-hotline{
	border:1px solid #ecdfdf;
	padding:20px 0px;
display:flex;	
align-items:center;	
border-radius:7px;
background:white;
position:relative;	
}

.hotline-itm{
width:15%;
border-left:1px solid #cab6b6;
	text-align:center;
	padding:7px 0px;
	
}


.hotline-itm:first-child{
	
border-left:none;	
}








#section-hotline{
	
	margin-top:-50px;
	position:relative;
}
#sectionarea-covid{
	
margin-top:100px;	
	
	
	
	
}
.title{
	margin-bottom:40px;
	
}
.covid19{
display:flex;	
	border-bottom:h1px solid #e2d3d3;
	border-left:u1px solid #f7eded;
	border-right:j1px solid #f7eded;
	border-radius:8px;
	box-shadow:0px 5px 5px 0px  #e6dfdf;
}

.single-items h4{
margin-bottom:12px;	
	margin-top:10px;
}

.single-items{
font-size:13px;	
margin-bottom:45px;		
width:33%;
margin-left:60px;
text-align:center;
}


.sasa{
	font-size:13px;
	margin-left:7px;
	margin-right:7px;
}



#app{
padding:130px 0px;	
	
	
	
}







.main-app{
	
	display:flex;
	
}


.download{
	margin-left:200px;
	width:20%;
	
}


.download h4{
	
margin-top:55px;	
	
}
.mujib img{
width:80%;	
	
}

.lll img{
	margin-top:54px;
	
	
}


.kkk{


	margin-top: 16px;
}


#footer-area{
background-color: #F26D3E;
padding: 63px 0px;
margin-top: 40px;
}

.row{
display: flex;
color:white;

}


.row-img{

margin-left:80px;


}


.row-img:first-child{

margin-left:0px;

}


.kere{


	display: flex;;
}



.ddd{
margin-right: 49px;


}

.title p{


	font-size: 11px;
}


.nnn p{


	line-height: 27px;
}

.vvv{

margin-bottom: 16px;


}